# 系统依赖（需要先用yum安装）：
# yum install -y cmake gcc gcc-c++ python3-devel

fastapi==0.68.0
uvicorn==0.15.0
python-multipart==0.0.5
Pillow==8.3.2
paddlepaddle==2.4.2
paddleocr==2.6.1.3
dlib==19.22.0
face-recognition-models==0.3.0
face-recognition==1.3.0
requests==2.26.0
pydantic<2.0.0,>=1.6.2